<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="widht=widht-device-widht, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.main.css">
<title>Project Academy</title>
<meta name="author" content="Darlison Henrique"/>
<link rel="stylesheet" href="css/style.css">
<script src="http://kit.fontawesome.com/00664285d.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body>
		
		<header>
		
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4527A0">
			<a class="navbar-brand" href="#">
				<img src="img/logo_header-site.png" width="200px"/>
			</a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMobile">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div id="navMobile" class="navbar-collapse collapse">
				
				<a class="nav-item nav-link">Home</a>
				<a class="nav-item nav-link">Cadastrar Aluno</a>
				<a class="nav-item nav-link">Pesquisar Aluno</a>
				<a class="nav-item nav-link">Sair</a>
			</div>
		
		</nav>
		
		</header>
		
		<script src="/webjars/jquery/3.5.1/jquery.main.js"></script>
		<script src="/webjars/bootstrap/js/bootstrap.main.js"></script>
		
</body>
</html>